/*=================Основные настройки сайта======================*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body {
    background: url(../img/f1.jpg);
}
.container {
    max-width: 1500px;
}
.fon {
    background: url(../img/f2.png);
    padding-top: 1em;
    border-left: 3px #6b6e7e solid;
    border-right: 3px #6b6e7e solid;
}
/*=====================Лозунг школы======================*/
.lozung_school{
    background-color: #6b6e7e;
    padding: 10px;
    margin: -15px -15px 0px -15px;
    color: #e7ebff;
    font-weight: bold;
    text-align: center;
}

/*=================главное меню====================*/
.nav-item a{
    background-color: #ffffff;
    color:#6b6e7e !important;
    padding-top:1em;
}
.nav-item a:hover{
    background-color: #6b6e7e;
    color: #ffffff !important;
    padding-top:1em;
}

.dropdown-menu{
    background-color: #6b6e7e;
    margin: 0em;
    padding: 0;
    border: inherit !important;
    border-radius: 0;
}
.dropdown-menu li a{
    display: inline-block;
    width:200px;
    height:100%;
    padding: 0.3em 0 0.3em 0.8em; 
    margin-left:-15px;
    background-color:blue;
    text-decoration: none;
    color: #6b6e7e;
}
.social{
    background-color: #6b6e7e;

}
.social a{
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out; 

}
.social a:hover{
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
}
.nav-link {
    font-weight: bold;
    color: #6b6e7e !important;
}

.img-fluid {
    margin: 1em 0em;
}
.navbar {
    padding: 0em;
    margin-left: -15px;
    margin-right: -15px;
    border-bottom:  3px #6b6e7e solid;
}
.navbar-brand a {
    text-decoration: none;
}
.collapse {
    border-top: 3px #6b6e7e solid;
    border-bottom: 3px #6b6e7e solid;
    margin-right: -15px;   
}

.collapse a {
    font-size: 1em;
}
.navbar-brand h3 {
    font-weight: bold;
    font-style: italic;
    padding-top: 0.2em;
}

.navbar-brand h3 span.SH {
    color: #6b6e7e;
}

.navbar-brand h3 span.V {
    color: #6b6e7e;
}
.logotip {
    text-align: center;
    padding: 0 auto;
    background-color: #fff;
    border-radius: 2em 2em 0 0;
}
.sim {
    margin: 0 auto;
}
/*=======Переключения между большим и маленьким меню==========*/
@media screen and (min-width: 0px) and (max-width: 549px) {
    .big_menu {
        display: none;
    }
}
@media screen and (min-width: 550px) and (max-width: 6000px) {
    .big_menu {
        display: block;
    }
}
@media screen and (min-width: 0px) and (max-width: 549px) {
    .small_menu {
        display: block;
    }
}
@media screen and (min-width: 550px) and (max-width: 6000px) {
    .small_menu {
        display: none;
    }
}

/*===================Боковое меню========================*/
.lozung_news {
    text-align: center;
    color: #e7ebff;
    font-weight: bold;
    font-size: 1.2em;
    padding-top: 0.5em;
    padding-bottom: 0.3em;
    background-color: #6b6e7e;
    margin-right: -15px;
}
.list-group-item {
    padding:0;
    margin-bottom: 0.3em;
}
.list-group-item a {
    display: inline-block;
    width:100%;
    height:100%;
    padding: 0.3em 0 0.3em 0.8em; 
    margin: 0;
    background-color:#ffffff;
    text-decoration: none;
    font-size: 1.2em;
    color: #6b6e7e;
}
.list-group-item a:hover {
    background-color:#6b6e7e;
    color:#fff ;
}
.list-group-item i {
    
    font-size: 1.4em
}
.osn_menu{
    margin-bottom: 2em;
}
.osn{
    margin-left: 15px;
}
/*==============Строка новостей===============*/
.zagolovok_news{
    color:#ffffff;
    font-size: 1.2em;
    border-bottom: 0.1em #ffffff solid;
    }
.zagolovok_news span{
    padding-right: 0.5em;
    border-right: 0.2em #e7ebff solid;
}
.zagolovok_news a{
    padding-left: 0.5em;
    color: #e7ebff;
    text-decoration: none;
}
.zagolovok_news a:hover{
    color: #3a4166;
}
.foto_news {
    text-align: center;
}
.foto_news img{
    width:200px;
    height:200px;
}
.text-news h5{
    text-align: center;
    color:#3a4166;
    font-size: 1.6em;
}
.text-news p{
    font-size: 1.2em;
    text-align: justify;
    color: #6b6e7e;
    text-indent: 0.5em;
}
.text-news{
    text-align: right;
}
.novosti{
    background-color: #6b6e7e;
    padding: 0.2em;
    margin-bottom:2em;
}
.block_news{
    background-color: #ffffff;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
    border-left:0.2em #6b6e7e solid; 
    border-right: 0.2em #6b6e7e solid; 
    -webkit-box-shadow: 0px 3px 10px -3px rgba(74, 74, 74, 1);
    -moz-box-shadow: 0px 3px 10px -3px rgba(74, 74, 74, 1);
    box-shadow: 0px 3px 10px -3px rgba(74, 74, 74, 1);
    
}
/*==============Карусель творчести учеников===============*/
.zagolovok_karusel1{
    color:#ffffff;
    font-size: 1.2em;
    border-bottom: 0.1em #ffffff solid;
    margin-bottom: 0.2em;
    }
.karusel1{
    background-color: #6b6e7e;
    padding: 0.2em;
    margin-bottom:2em;
}
.big-karusel1 a{
    padding-left: 0.5em;
    color: #e7ebff;
    font-size: 1.2em;
    text-decoration: none;
}
.big-karusel1 a:hover{
    color: #3a4166;
}
.element {
    padding: 0 0.5em;
    border: none;
}
.element h5 {
    text-align: center;
    font-size: 1.8em;
}

.element p {
    font-size: 1.2em;
}
.element a {
    text-decoration: none;
    color: #6b6e7e;
}
.element a:hover {
    color: #e7ebff;
}
.creativ{
    background-color:#ffffff; 
    margin-bottom: 2em;
    border-top: 4px #6b6e7e solid;
    border-bottom: 4px #6b6e7e solid;
    -webkit-box-shadow: 0px 3px 10px -3px rgba(74, 74, 74, 1);
    -moz-box-shadow: 0px 3px 10px -3px rgba(74, 74, 74, 1);
    box-shadow: 0px 3px 10px -3px rgba(74, 74, 74, 1);
}

/*==============Карусель конкурсов учеников===============*/
.zagolovok_karusel2{
    color:#ffffff;
    font-size: 1.2em;
    border-bottom: 0.1em #ffffff solid;
    margin-bottom: 1em;
    }
.karusel2{
    background-color: #6b6e7e;
    padding: 0.2em;
    margin-bottom:0em;
}
.big-karusel2 a{
    padding-left: 0.5em;
    color: #e7ebff;
    font-size: 1.2em;
    text-decoration: none;
}
.big-karusel2 a:hover{
    color: #3a4166;
}
.element2 img {
    height: 10em;
}
/*===========Кнопки управления каруселями================*/
#js-prev img,
#js-next img,
#k-prev img,
#k-next img {
    width: 80px;
}
/*=================Видео блок рекламы школы===============*/
.blok_video{
    background-color: #6b6e7e;
    margin-left: -15px;
    margin-top: 1.5em;
    margin-bottom: 2em;
    padding: 10px 10px 10px 15px;
}
.video-block{
    border: 0.2em #e7ebff solid;
}
/*=================Блок дополнительных программ, конкурсов и секций*/
.program{
    margin-bottom: 2em;
}
.program-block{
    text-align: center;
}
.program-block h5{
    text-align: center;
    color:#3a4166;
    font-size: 1.6em;
}
.program-block p{
    font-size: 1.2em;
    color: #6b6e7e;
}
/*=============Карта в подвале============*/
.grafik-bg {
color: #6b6e7e;
    background-color: #e7ebff;
    opacity: 0.92;
    left: 0;
    height: 350px;
    position: absolute;
}
.text-map {
    margin-bottom: 3px;
    font-weight: bold;
    font-size: 1em;
}
.copi-r {
    color: #e7ebff;
    background-color: #6b6e7e;
}
.karta {
        background-color: #e7ebff;
}